DAY1

 COMMENTS AND HEADING 
 =
 Learning how to comment our codes

In [15]:
4+2

6

In [2]:
print('BEE')

BEE

In [1]:
print('ELL')

ELL

In [4]:
#Right

In [5]:
'''EEH''' # we use the triple code to extract multiple lines

'EEH'

In [7]:
#COMMENTING
2*3 #'''6+3'''

6

DATA TYPES
=

In [8]:
type(10)

int

In [10]:
type(15.72)

float

In [11]:
type('BEE') #every text should be ina quoted mark

str

In [12]:
type([1,2,3,4,5,6,7,8])

list

In [13]:
type({2,3,4,5})

set

In [14]:
type((2,3,4,5,6))

tuple

Variable Assignment
=
Python is case sensitive

In [15]:
J=21

In [16]:
E=25

In [17]:
zz=J+E

In [18]:
zz

46

In [19]:
a=70

In [20]:
x=30

In [21]:
k=(a+x)**2
k

10000

In [22]:
s=3
d=5
w=s+d
w

8

In [23]:
k

10000

In [24]:
k

10000

In [25]:
s=5
d=2
w=s+d
w

7

XHSHHSHSHH

In [26]:
print('My name is Janna \nI am from Kasoa')

My name is Janna
I am from Kasoa

In [27]:
print("Question 1 is A \nQuestion 2 is B \nQuestion 3 is C")

Question 1 is A
Question 2 is B
Question 3 is C

In [28]:
print('My name is Eric and my coworker is Jannat. \nWe come from Kasoa, the great City of all times')

My name is Eric and my coworker is Jannat.
We come from Kasoa, the great City of all times

In [29]:
print(a,',',s,',',w,',',',',J,',',E,',',zz,',',k)

70 , 5 , 7 , , 21 , 25 , 46 , 10000

In [30]:
Course ="Meteorology and Climate Science."

In [31]:
len(Course)#Python starts indexing from 0

32

In [32]:
Course[0:3]#subsetting a range.

'Met'

In [33]:
Course[4::2]#it'll start from

'oooyadCiaeSine'

In [34]:
m="E"+"R"+"I"+"C"
m

'ERIC'

In [35]:
print(m[0],m[2])

E I

In [36]:
m.lower()

'eric'

In [37]:
v='dorkutso'

In [38]:
v.upper()

'DORKUTSO'

In [40]:
print('3Y3 SERE\nANIGYE3 \nNHYIRA')

3Y3 SERE
ANIGYE3
NHYIRA

CONCATENATION
=
addn, numbers etc. together

In [41]:
a='Meteorology '
b='and '
c='Climate '
d='Science '
print(a+b+c+d)

Meteorology and Climate Science

In [42]:
a='Meteorology '
b='and '
c='Climate '
d='Science '
print(a+b+c,'',d)

Meteorology and Climate   Science

In [43]:
print('VOTE FOR RHODA 2023 \n'*21)

VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023
VOTE FOR RHODA 2023

FORMATING OF STRING
=

In [45]:
q='Jannat said the economy is hard'

In [46]:
b=q.lower()
b

'jannat said the economy is hard'

In [47]:
c=b.upper()

In [48]:
c

'JANNAT SAID THE ECONOMY IS HARD'

In [49]:
b.capitalize()

b

'jannat said the economy is hard'

In [55]:
q.split()

['Jannat', 'said', 'the', 'economy', 'is', 'hard']

In [56]:
q.replace('Desmond', 'Eric')

'Jannat said the economy is hard'

In [57]:
q.replace('Desmond said','Eric says')

'Jannat said the economy is hard'

In [58]:
first='Welcome to the {year} {prog} organized by {organizers}'.format(year=2022, prog='Internship', organizers='Dep')

In [59]:
first

'Welcome to the 2022 Internship organized by Dep'

In [60]:
Second='Welcome to the {} {} organized by {}'.format(2022,'Internship','Dep')

In [61]:
Second

'Welcome to the 2022 Internship organized by Dep'

In [62]:
7//3 #floor (which gives the whole number of a decimal number)

2

In [63]:
6%4 #Modulus: This gives the remainder

2

In [64]:
2>75

False

In [65]:
type(11.2 == 11.22)

bool

In [66]:
f=['Jannat','Eric']

In [67]:
l=f.append('Desmond')

In [68]:
#fROZENSET

DICTIONARY
=

In [70]:
a={
    'Name':'Desmond ',
    'Number':'0555971863',
    'Age': '17',
    'Sex':'Male',
    'Wife':'Rhoda'
}

In [71]:
a

{'Name': 'Desmond ',
 'Number': '0555971863',
 'Age': '17',
 'Sex': 'Male',
 'Wife': 'Rhoda'}

In [72]:
9!=3

True

In [73]:
2<=20

True

In [74]:
2>=9

False

In [75]:
(6%4)==2

True

LOGICAL OPERATIONS
=

In [76]:
(5<2)&(5>3)#when both statements are true
#OR
#NOT

False

ONE WAY DECISON
=

In [77]:
x=5

In [78]:
if x==5:
    print('x equals 5')

x equals 5

In [79]:
if x>4:
    print('x is greater than four')

x is greater than four

In [80]:
if x!=6:
    print('Desmond is tired')

Desmond is tired

Two Way Decisions
=

In [81]:
input('Your age: ')

Your age:

''

In [82]:
name= input('Please enter your fulname ')
if name=='Jannat':
    print('You are my partner')
else:
    print('Please look for your partner')

Please enter your fulname
Please look for your partner

In [83]:
menu = input('Please,place your order ')
print('')
if menu == 'Jolof':
    print("It'll be delivered soon please")
else:
    print('Oohs! sorry we have only jolof currently.')

Please,place your order

Oohs! sorry we have only jolof currently.

A NESTED IF STATEMENTS
=

In [84]:
grade= int(input('Enter your grade '))#100
print('')
if grade>60:
    print('\tStudent scored a passing grade')
    if grade >=90:
        print('\tPassed with A')
        if grade >=96:
            print('\tPassed with A+')

Enter your grade

ValueError: invalid literal for int() with base 10: ''

In [85]:
grade =int(input('Please enter your grade '))
print('')
if grade >=70 and grade <=100:
    print('A')
elif grade >=60 and grade <=69:
    print('B')
elif grade >=50 and grade <=59:
    print('C')
elif grade>=40 and grade <=49:
    print('D')
else:
    print('You have failed, come for your school fees')

Please enter your grade

ValueError: invalid literal for int() with base 10: ''

In [92]:
#Assignment
#C=5
#while C<=80:
    #K=273.16+C
#K=273.16+x
#while K<=80
  #print(K,C)
#c
#range from 5 to 80
#change from cel to kelvin

In [97]:
#EXAMPLES WITH A STRINGS

Language="PYTHON PROGRAMMING"
for l in Language:
  print(a)

{'Name': 'Desmond ', 'Number': '0555971863', 'Age': '17', 'Sex': 'Male', 'Wife': 'Rhoda'}
{'Name': 'Desmond ', 'Number': '0555971863', 'Age': '17', 'Sex': 'Male', 'Wife': 'Rhoda'}
{'Name': 'Desmond ', 'Number': '0555971863', 'Age': '17', 'Sex': 'Male', 'Wife': 'Rhoda'}
{'Name': 'Desmond ', 'Number': '0555971863', 'Age': '17', 'Sex': 'Male', 'Wife': 'Rhoda'}
{'Name': 'Desmond ', 'Number': '0555971863', 'Age': '17', 'Sex': 'Male', 'Wife': 'Rhoda'}
{'Name': 'Desmond ', 'Number': '0555971863', 'Age': '17', 'Sex': 'Male', 'Wife': 'Rhoda'}
{'Name': 'Desmond ', 'Number': '0555971863', 'Age': '17', 'Sex': 'Male', 'Wife': 'Rhoda'}
{'Name': 'Desmond ', 'Number': '0555971863', 'Age': '17', 'Sex': 'Male', 'Wife': 'Rhoda'}
{'Name': 'Desmond ', 'Number': '0555971863', 'Age': '17', 'Sex': 'Male', 'Wife': 'Rhoda'}
{'Name': 'Desmond ', 'Number': '0555971863', 'Age': '17', 'Sex': 'Male', 'Wife': 'Rhoda'}
{'Name': 'Desmond ', 'Number': '0555971863', 'Age': '17', 'Sex': 'Male', 'Wife': 'Rhoda'}
{'Name': 'Desmond ', 'Number': '0555971863', 'Age': '17', 'Sex': 'Male', 'Wife': 'Rhoda'}
{'Name': 'Desmond ', 'Number': '0555971863', 'Age': '17', 'Sex': 'Male', 'Wife': 'Rhoda'}
{'Name': 'Desmond ', 'Number': '0555971863', 'Age': '17', 'Sex': 'Male', 'Wife': 'Rhoda'}
{'Name': 'Desmond ', 'Number': '0555971863', 'Age': '17', 'Sex': 'Male', 'Wife': 'Rhoda'}
{'Name': 'Desmond ', 'Number': '0555971863', 'Age': '17', 'Sex': 'Male', 'Wife': 'Rhoda'}
{'Name': 'Desmond ', 'Number': '0555971863', 'Age': '17', 'Sex': 'Male', 'Wife': 'Rhoda'}
{'Name': 'Desmond ', 'Number': '0555971863', 'Age': '17', 'Sex': 'Male', 'Wife': 'Rhoda'}

In [ ]:
#numpy
#import numpy as np

In [8]:
#creating a rande for the whole number of years
#days=np.arrage(1,135)

In [39]:
for x in range(1,365,1):
    
       
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364

In [17]:
#NESTED LOOP
A=[1,2,3,4,5,6,7,8,9,10]
B=[5]
for a in A:
    for b in B:
        
        y=a*b
        print(b,'*',a,'=',y)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [24]:
N=[2,5]
M=[3,5]
O=[5,3]

for n in N:
    for m in M:
        for o in O:
            
            u = m+n+o
            print(m,'+',n,'+','=',u)

3 + 2 + = 10
3 + 2 + = 8
5 + 2 + = 12
5 + 2 + = 10
3 + 5 + = 13
3 + 5 + = 11
5 + 5 + = 15
5 + 5 + = 13

In [36]:
#BREAK
names=['John','Gideon','Elvis','grace','Bright']
for name in names:
    if name == 'Bright':
        print(name,'i have found you')
        break

Bright i have found you

In [ ]:
#break,while continue and pass

#continue